.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 10;
}

.div2 {
    grid-area: 2 / 3 / 7 / 7;
}

.div3 {
    grid-area: 2 / 1 / 7 / 3;
}

.div4 {
    grid-area: 2 / 7 / 7 / 10;
}

.div5 {
    grid-area: 7 / 3 / 10 / 10;
}

.div6 {
    grid-area: 7 / 1 / 10 / 3;
}

.div-grid {
    margin: 5px;
    /*text-align: center;*/
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px 5px;
}